.cuerpo-inicio {
  background-image: url("/assets/images/main-fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 10px;
}

h1{
    float: left;
    margin: 1px;
    padding: 1px;

}
#cabecera {
  width: 100%;
  background-color: white;
  padding: 1px;
}

.enlaces {
  float: right;
  margin: 1px;
  padding: 2px;
  color: black;
}