<body class="cuerpo-inicio">
  <div class=container>
    <header>
     <section id="cabecera">
        <nav class="navbar navbar-light">
          <h1>La Bodega</h1>
            <ul class="nav navbar-nav mr-auto enlaces">
              <li class="nav-item">
                <a class="navbar-brand" [routerLink]="['/productos']">
                <i class="fa fa-th" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" [routerLink]="['']"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" [routerLink]="['']"><i class="fa fa-inbox" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" [routerLink]="['']"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
              </li>
            </ul>
        </nav>
      </section>
    </header>
  </div>
</body>