.cuerpo-inicio {
  background-color: white;
}

h1 {
  float: left;
  margin-top: 15px;
  margin-left:1px;
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 1px;

}
h3 {
  float: right;
  margin: 1px;
  padding: 1px;
}

.buscar{
    float: right;
    margin: 1px;
    padding: 1px;
}